.topnav {
    border: indigo;
    height: 80px;
    width: 100%;
    background-color: gray;
}

.topnav h1 {
    float: left;
    padding-left: 10px;
}

.topnav h4 {
    float: right;
    padding-right: 10px;
}

.contentarea {
    padding-top: 20px;
}

.footer {
    background-color: black;
    height: 25px;
    width: 100%;
}

.footer h6 {
    color: white;
}